### Gradle
.gradle/
build/
**/build/
out/
!gradle/wrapper/gradle-wrapper.jar

### IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

### OS
.DS_Store
Thumbs.db

### Logs & reports
*.log
logs/
**/logs/
**/reports/
**/test-results/
**/jacoco/
**/jacoco.exec

### Spring / Maven (por si acaso)
target/

### Temps
*.tmp
*.bak
*.swp
*.swo
*.orig

### Local env
.env
*.local.properties
